examples/Crowtail-Demo/DeviceHub_flows.json
[
    {
        "id": "ea7e8c1ace2b4dc8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc95fc9caa5364e5",
        "type": "devicehub-config",
        "name": "",
        "host": "localhost",
        "port": "8090",
        "secure": false
    },
    {
        "id": "9d29ee82a1080a1e",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "0c6ddb724b9b3e45",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "e0cebea875c68ec6",
        "type": "ui-page",
        "name": "Device Hub",
        "ui": "9d29ee82a1080a1e",
        "path": "/",
        "icon": "home",
        "layout": "grid",
        "theme": "0c6ddb724b9b3e45",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "09d1bba3ce9fa2d1",
        "type": "ui-group",
        "name": "Freya Dev unit",
        "page": "e0cebea875c68ec6",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "132c986ec22a160e",
        "type": "ui-group",
        "name": "All Devices",
        "page": "e0cebea875c68ec6",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ca5869e6993af287",
        "type": "inject",
        "z": "ea7e8c1ace2b4dc8",
        "name": "Identify",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "action",
                "v": "callDirectMethod",
                "vt": "str"
            },
            {
                "p": "methodName",
                "v": "identify",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"duration\":5}",
        "payloadType": "json",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "b06347ce822c1e83",
                "0c6e575571a4ec26",
                "835b5765a554284b"
            ]
        ]
    },
    {
        "id": "5bcc5a2e1a12cd6f",
        "type": "debug",
        "z": "ea7e8c1ace2b4dc8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "0c6e575571a4ec26",
        "type": "devicehub-device",
        "z": "ea7e8c1ace2b4dc8",
        "name": "Zero w Display",
        "hub": "fc95fc9caa5364e5",
        "deviceName": "EDGB-A096",
        "x": 580,
        "y": 300,
        "wires": [
            [
                "5bcc5a2e1a12cd6f"
            ]
        ]
    },
    {
        "id": "5b12bf801b043a17",
        "type": "debug",
        "z": "ea7e8c1ace2b4dc8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "b06347ce822c1e83",
        "type": "devicehub-device",
        "z": "ea7e8c1ace2b4dc8",
        "name": "Freya Dev",
        "hub": "fc95fc9caa5364e5",
        "deviceName": "EDGB-416B",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "5b12bf801b043a17",
                "8a927689d93aea70"
            ]
        ]
    },
    {
        "id": "0c6b7e7050711c3d",
        "type": "debug",
        "z": "ea7e8c1ace2b4dc8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 440,
        "wires": []
    },
    {
        "id": "835b5765a554284b",
        "type": "devicehub-device",
        "z": "ea7e8c1ace2b4dc8",
        "name": "Zero",
        "hub": "fc95fc9caa5364e5",
        "deviceName": "EDGB-9179",
        "x": 550,
        "y": 440,
        "wires": [
            [
                "0c6b7e7050711c3d",
                "b85732e82a9bf7d8"
            ]
        ]
    },
    {
        "id": "d584c5fb3513a82e",
        "type": "ui-chart",
        "z": "ea7e8c1ace2b4dc8",
        "group": "09d1bba3ce9fa2d1",
        "name": "",
        "label": "chart",
        "order": 3,
        "chartType": "line",
        "category": "payload.data.variable",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "payload.data.timestamp",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload.data.value",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 930,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "502749263e3f13a4",
        "type": "ui-button",
        "z": "ea7e8c1ace2b4dc8",
        "group": "132c986ec22a160e",
        "name": "Identify",
        "label": "Identify Freya Dev",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "efa3de311ffdedbf"
            ]
        ]
    },
    {
        "id": "efa3de311ffdedbf",
        "type": "function",
        "z": "ea7e8c1ace2b4dc8",
        "name": "Direct Method formatting",
        "func": "msg.action = \"callDirectMethod\";\nmsg.methodName = \"identify\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "b06347ce822c1e83"
            ]
        ]
    },
    {
        "id": "b1a479a5a4d0c898",
        "type": "function",
        "z": "ea7e8c1ace2b4dc8",
        "name": "Direct Method formatting",
        "func": "msg.action = \"callDirectMethod\";\nmsg.methodName = \"identify\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "0c6e575571a4ec26"
            ]
        ]
    },
    {
        "id": "d8f842250f74b770",
        "type": "ui-button",
        "z": "ea7e8c1ace2b4dc8",
        "group": "132c986ec22a160e",
        "name": "Identify",
        "label": "Identify Zero with Display",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "b1a479a5a4d0c898"
            ]
        ]
    },
    {
        "id": "a707fcab2edcf77f",
        "type": "function",
        "z": "ea7e8c1ace2b4dc8",
        "name": "Direct Method formatting",
        "func": "msg.action = \"callDirectMethod\";\nmsg.methodName = \"identify\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "835b5765a554284b"
            ]
        ]
    },
    {
        "id": "56c5c5cbbcdae8ec",
        "type": "ui-button",
        "z": "ea7e8c1ace2b4dc8",
        "group": "132c986ec22a160e",
        "name": "Identify",
        "label": "Identify Zero",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "a707fcab2edcf77f"
            ]
        ]
    },
    {
        "id": "8a927689d93aea70",
        "type": "function",
        "z": "ea7e8c1ace2b4dc8",
        "name": "Telemetry only filter",
        "func": "// Only pass telemetry to the chart\nif (msg.messageType === \"telemetry\") {\n    return msg;\n}\nreturn null; // block confirmation messages",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 100,
        "wires": [
            [
                "d584c5fb3513a82e"
            ]
        ]
    },
    {
        "id": "9012ede7b5561af3",
        "type": "ui-button",
        "z": "ea7e8c1ace2b4dc8",
        "group": "132c986ec22a160e",
        "name": "Cloud-to-Device",
        "label": "Cloud-to-Device",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#0007FF",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "0b4cc5e40c7942af"
            ]
        ]
    },
    {
        "id": "0b4cc5e40c7942af",
        "type": "function",
        "z": "ea7e8c1ace2b4dc8",
        "name": "Cloud-to-Device formatting",
        "func": "msg.action = \"sendMessage\"\nmsg.payload = {\"testkey\":\"This is a Cloud-to-Device test message\"}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "835b5765a554284b"
            ]
        ]
    },
    {
        "id": "b85732e82a9bf7d8",
        "type": "function",
        "z": "ea7e8c1ace2b4dc8",
        "name": "Switch logic",
        "func": "// Only pass telemetry to the chart\nif (msg.messageType === \"telemetry\" && msg.payload.data.device == \"switch\") {\n    let newmsg = {};\n    newmsg.action = \"sendMessage\";\n    newmsg.payload = {\n        value: msg.payload.data.value,\n        device: msg.payload.data.device\n    }\n\n    return newmsg;\n}\nreturn null; // block confirmation messages",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [
            [
                "0c6e575571a4ec26",
                "c114a85abf5c640e"
            ]
        ]
    },
    {
        "id": "c114a85abf5c640e",
        "type": "ui-text",
        "z": "ea7e8c1ace2b4dc8",
        "group": "132c986ec22a160e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Motion detection",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload.value",
        "valueType": "msg",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "15aecffd4230744f",
        "type": "global-config",
        "env": [],
        "modules": {
            "@edgeberry/devicehub-node-red-contrib": "1.8.1",
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]