examples/Crowtail-Demo/Device-B_flows.json
[
    {
        "id": "f9326a666c8ff65e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c45d24ed89091598",
        "type": "rpi-gpio out",
        "z": "f9326a666c8ff65e",
        "name": "LED Orange",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "562eca5e87c0f2f5",
        "type": "edgeberry",
        "z": "f9326a666c8ff65e",
        "name": "",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "7a8fcac45f2acb99"
            ]
        ]
    },
    {
        "id": "7a8fcac45f2acb99",
        "type": "function",
        "z": "f9326a666c8ff65e",
        "name": "Convertor",
        "func": "if( msg.payload.device === \"switch\"){\n    msg.payload = msg.payload.value;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 440,
        "wires": [
            [
                "c45d24ed89091598"
            ]
        ]
    },
    {
        "id": "86f2c7ebb83b108b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-pi-gpio": "2.0.6",
            "@edgeberry/device-node-red-contrib": "3.3.0"
        }
    }
]